@model User

<h1>Submitted Info</h1>
<h2>User Name: @Model.userName</h2>
<h2>Dojo Location: @Model.location</h2>
<h2>Favorite Language: @Model.language</h2>
<h2>Comments: @Model.comment</h2>
<a class="btn btn-primary" href="/">Go back</a>