@model Wedding
<h1>Plan Your Wedding</h1>

<div class="container">
    <form action="/addWedding" method="post">
        <div class="form-group">
            <label for="WedderOne">Wedder One</label>
            <input asp-for="WedderOne" class="form-control">
            <span asp-validation-for="WedderOne" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="WedderTwo">Wedder Two</label>
            <input asp-for="WedderTwo" class="form-control">
            <span asp-validation-for="WedderTwo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="WeddingDate">Date</label>
            <input asp-for="WeddingDate" class="form-control">
            <span asp-validation-for="WeddingDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Address">Wedding Address</label>
            <input asp-for="Address" class="form-control">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <input type="submit" value="Create" class="btn btn-warning">
    </form>
</div>