<h1>Here are some delicious foods!</h1>
@{
    string[] foodArray = new string[] {"Apple Pie", "Burritos", "Clams Casino", "Donuts"};
    foreach(string food in foodArray)
    {
        <p>@food</p>
    }
}