@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Random passcode (passcode #@ViewBag.total)</h2>
    <h1>@ViewBag.Passcode</h1>
    <a class="btn btn-danger" href="/generate">Generate</a>
</div>
